python-dotenv
pydantic
tqdm
sqlalchemy
alembic
faiss-cpu
numpy
pandas
rapidfuzz
pymupdf
nltk
httpx
openai
Flask
Flask-WTF
WTForms
unstructured
pdfplumber
layoutparser
camelot-py
tabula-py
JPype1
Pillow
